
@{
    ViewBag.Title = "Form";
    Layout = "~/Views/Shared/_Form_Layout.cshtml";
}
@section Styles{
    <style type="text/css">
        .listview li {
            width: 80px;
        }
    </style>
}
<form id="form1">
    <div style="margin-top: 10px; margin-left: 10px; margin-right: 10px;">
        <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#base">基本信息</a></li>
            <li><a data-toggle="tab" href="#button">设置按钮</a></li>
        </ul>
        <div class="tab-content" style="padding-top:15px;margin-right:30px;">
            <div class="tab-pane active" id="base">
                <table class="form">
                    <tr>
                        <th class="formTitle">名称</th>
                        <td class="formValue">
                            <input type="hidden" id="ID" name="ID" value="0" />
                            <input class="form-control required" type="text" id="Name" name="Name" value="" />
                        </td>
                        <th class="formTitle">上级</th>
                        <td class="formValue">
                            <select id="ParentID" name="ParentID" class="form-control  required"></select>
                        </td>
                    </tr>
                    <tr>
                        <th class="formTitle">链接</th>
                        <td class="formValue"><input class="form-control" type="text" id="Url" name="Url" value="" /></td>
                        <th class="formTitle">目标</th>
                        <td class="formValue">
                            <select id="Target" name="Target" class="form-control select2-control required">
                                <option value="">==请选择==</option>
                                <option value="expand" title="expand">无页面</option>
                                <option value="iframe" title="iframe">框架页</option>
                                <option value="open" title="open">弹出页</option>
                                <option value="blank" title="blank">新窗口</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <th class="formTitle">图标</th>
                        <td class="formValue">
                            <div class="input-group">
                                <input class="form-control" type="text" id="Icon" name="Icon" value="" />
                                <span id="iconSelect" class="input-group-btn">
                                    <a class="btn  btn-primary"><i class="fa fa-ellipsis-h"></i></a>
                                </span>
                            </div>
                        </td>
                        <th class="formTitle">排序</th>
                        <td class="formValue">
                            <input class="form-control" type="text" id="Sort" name="Sort" value="0" />
                        </td>
                    </tr>
                    <tr>
                        <th class="formTitle" style="height: 35px;">选项</th>
                        <td class="formValue" colspan="3" style="padding-top: 1px;">
                            <div class="ckbox">
                                <input id="Visible" name="Visible" type="checkbox" checked="checked"><label for="Visible">是否可见</label>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th class="formTitle" valign="top" style="padding-top: 5px;">
                            备注
                        </th>
                        <td class="formValue" colspan="3">
                            <textarea id="Remark" name="Remark" class="form-control" style="height: 100px;"></textarea>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="tab-pane" id="button">
                <ul id="gridList" class="listview" style="padding-left:20px;"></ul>
                <input type="hidden" value="" id="ButtonIDs" name="ButtonIDs" />
            </div>
        </div>
    </div>
</form>

@section Scripts{
    <script src="~/Content/pages/admin/Button/button.js"></script>
    <script type="text/javascript">
        //获取当前页面的请求参数，以对象的形式返回
        var requestData = cloud.common.getRequestData();
        var options = {
            //标题
            title: "菜单表单",
            //单条数据查询地址
            dataQueryOneUrl: "/Admin/Menu/GetOne",
            //数据添加地址，视图与操作是一个地址，只是请求方式及参数不同
            dataAddUrl: "/Admin/Menu/Add",
            //数据编辑地址，视图与操作是一个地址，只是请求方式及参数不同
            dataUpdateUrl: "/Admin/Menu/Edit",
            //点击“添加数据”对话框的确定按钮提交数据并关闭对话框
            onDataAdded: function () {
                setButtonIDs();
                return this.submitForm(this.dataAddUrl);
            },
            //点击“编辑数据”对话框的确定按钮提交数据并关闭对话框
            onDataUpdated: function () {
                setButtonIDs();
                return this.submitForm(this.dataUpdateUrl);
            }
        };
        //视图模型
        var viewModel = new ViewModel(options);
        /**初始化控件**/
        function initControl() {
            cloud.form.bindSelect($("#ParentID"), {
                url: "/Admin/Menu/GetTreeList",
                //显示文本对应字段
                text: "TreeNodeText"
            });
            //加载按钮
            button.showGridList({
                params: { menuID: requestData.id },
                success: function () {
                    if (requestData.id == "0") {
                        //添加时设置按钮全部选中
                        $("#gridList li").removeClass("selected").addClass("selected");
                    }
                }
            });
            //非查看详情页面才允许绑图标筛选事件以及按钮选择事件
            if (requestData.type != "detail") {
                //绑定图标筛选事件
                $("#iconSelect").click(function () {
                    var index = cloud.modal.open({
                        id: "Select",
                        title: "图标筛选",
                        url: "/Admin/Icon/Select",
                        width: "800px",
                        height: "830px",
                        callBack: function (iframeId, index, layero) {
                            //旧用法，页面带参数时有时候容易导致iframe框架中的window对象name改变
                            //top.frames[iframeId].submitForm();
                            //新用法
                            var iframe = layero.find('iframe')[0];
                            var iframeWin = iframe.contentWindow;
                            var gridList = iframeWin.$("#gridList");
                            var icon = gridList.find("li.selected").data("icon");
                            var iconClass = $("#Icon");
                            iconClass.val(icon);
                            //关闭弹窗
                            top.layer.close(index);
                        }
                    });
                    top.layer.full(index);
                });
                button.bindClick("gridList");
            }
            //id不为0说明是编辑或者查看详情页面
            if (requestData.id != "0") {
                //加载数据
                viewModel.formLoad({
                    params: { id: requestData.id },
                    //请求类型
                    type: requestData.type,
                    success: function (result) {
                        //将数据反序列化绑定到表单上
                        cloud.form.deserialize("form1", result.Data);
                        //从上级树筛选框中去掉自己
                        var option = $("#ParentID option[value='" + requestData.id + "']");
                        if (option) {
                            option.remove();
                        }
                        //查看详情页面需要设置表单控件只读
                        if (requestData.type == "detail") {
                            var $form = $("#form1");
                            $form.find('.form-control,select,input').attr('readonly', 'readonly');
                            $form.find('div.ckbox label').attr('for', '');
                        }
                    }
                });
            }
        }
        //设置选中的按钮id串
        function setButtonIDs() {
            var selectedIDs = button.getSelectedIDs();
            $("#ButtonIDs").val(selectedIDs);
        }

        $(function () {
            initControl();
        });
    </script>

}

