
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Index_Layout.cshtml";
}

<div class="topPanel">
    <div class="toolbar">
        <div class="btn-group">
            <a class="btn btn-primary" onclick="cloud.common.reload();"><span class="glyphicon glyphicon-refresh"></span></a>
        </div>
        <div id="btnInit" class="btn-group">
        </div>
    </div>
    <div class="search">
        <table>
            <tr>
                <td>
                    <div class="input-group">
                        <input id="txtKey" type="text" class="form-control" placeholder="请输入要查询关键字" style="width: 200px;">
                        <span class="input-group-btn">
                            <button id="btnSearch" type="button" class="btn  btn-primary"><i class="fa fa-search"></i></button>
                        </span>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</div>
<div class="gridPanel">
    <table id="gridList"></table>
    <div id="gridPager"></div>
</div>

@section Scripts{
    <script type="text/javascript">
        var options = {
            //标题
            title: "菜单管理",
            //数据查询地址
            dataQueryUrl: "/Admin/Menu/List",
            //数据添加地址，视图与操作是一个地址，只是请求方式及参数不同
            dataAddUrl: "/Admin/Menu/Add",
            //数据编辑地址，视图与操作是一个地址，只是请求方式及参数不同
            dataUpdateUrl: "/Admin/Menu/Edit",
            //数据查看详情地址
            dataDetailUrl: "/Admin/Menu/Detail",
            //数据删除地址
            dataDeleteUrl: "/Admin/Menu/Delete",
            //弹窗宽度
            modalWidth: "700px",
            //弹窗高度
            modalHeight: "440px",
        };
        //视图模型
        var viewModel = new ViewModel(options);
        $(function () {
            //显示列表数据
            viewModel.showGridList({
                //是否是树列表
                treeGrid: true,
                //树展开方式：默认是Nested(嵌套的)，这里使用adjacency(相邻的)
                treeGridModel: "adjacency",
                //指定哪列来展开tree grid，默认为第一列，只有在treeGrid为true时起作用
                ExpandColumn: "Url",
                //获取数据的地址
                url: viewModel.dataQueryUrl,
                //列模型
                colModel: [
                    { label: "主键", name: "ID", hidden: true, key: true },
                    {
                        label: "名称", name: "Name", width: 200, align: "left",
                        /**
                         * 数据格式化
                         * 参数 value 列值 options 选项 row 行数据
                         */
                        formatter: function (value, options, row) {
                            return row.Icon ? "<span class='icon'><i class='fa " + row.Icon + "'></i>" + value + "</span>" : value;
                        }
                    },
                    { label: "链接", name: "Url", width: 150, align: "left" },
                    {
                        label: "目标", name: "Target", width: 80, align: "center",
                        //数据格式化
                        formatter: function (value) {
                            switch (value) {
                                case "expand":
                                    return "无页面";
                                case "iframe":
                                    return "框架页";
                                case "open":
                                    return "弹出页";
                                case "blank":
                                    return "新窗口";
                                default:
                                    return "";
                            }
                        }
                    },
                    {
                        label: "是否可见", name: "Visible", width: 80, align: "center",
                        //数据格式化
                        formatter: function (value) {
                            return value ? "<i class=\"fa fa-toggle-on\"></i>" : "<i class=\"fa fa-toggle-off\"></i>";
                        }
                    },
                    {
                        label: "更新时间", name: "UpdateDate", width: 120, align: "center",
                        formatter: "date", formatoptions: { srcformat: 'Y-m-d H:i:s', newformat: 'Y-m-d H:i:s' }
                    },
                    {
                        label: "排序", name: "Sort", width: 50, align: "center"
                    },
                    {
                        label: '操作', name: 'ID', width: 250, align: 'center', classes: 'operate', sortable: false,
                        /**
                         * 数据格式化
                         * 参数 value 列值 options 选项 row 行数据
                         */
                        formatter: function (value, options, row) {
                            //设置授权的列表按钮
                            var html = cloud.auth.grantedButtons({ location: 2, replaceValue: value });
                            return html;
                        }
                    },
                ],
                //禁掉其他排序
                sortable: false,
                //默认排序字段
                sortname: "Sort",
                //默认排序顺序
                sortorder: "desc",
                //pager: "#gridPager",
                viewrecords: false
            });
            //添加授权的初始按钮
            $("#btnInit").append(cloud.auth.grantedButtons({ location: 1 }));
        });
    </script>

}

