
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Index_Layout.cshtml";
}

<div class="topPanel">
    <div class="toolbar">
        <div class="btn-group">
            <a class="btn btn-primary" onclick="cloud.common.reload();"><span class="glyphicon glyphicon-refresh"></span></a>
        </div>
        <div id="btnInit" class="btn-group">
        </div>
    </div>
    <div class="search">
        <table>
            <tr>
                <td>
                    <div class="input-group">
                        <input id="txtKey" type="text" class="form-control" placeholder="请输入要查询关键字" style="width: 200px;">
                        <span class="input-group-btn">
                            <button id="btnSearch" type="button" class="btn  btn-primary"><i class="fa fa-search"></i></button>
                        </span>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</div>
<div class="gridPanel">
    <table id="gridList"></table>
    <div id="gridPager"></div>
</div>

@section Scripts{

    <script type="text/javascript">
        var options = {
            //标题
            title: "内容测试管理",
            //数据查询地址
            dataQueryUrl: "/Admin/ContentTest/List",
            //数据添加地址，视图与操作是一个地址，只是请求方式及参数不同
            dataAddUrl: "/Admin/ContentTest/Add",
            //数据编辑地址，视图与操作是一个地址，只是请求方式及参数不同
            dataUpdateUrl: "/Admin/ContentTest/Edit",
            //数据查看详情地址
            dataDetailUrl: "/Admin/ContentTest/Detail",
            //数据删除地址
            dataDeleteUrl: "/Admin/ContentTest/Delete",
            //弹窗宽度
            modalWidth: "700px",
            //弹窗高度
            modalHeight: "440px",
        };
        //视图模型
        var viewModel = new ViewModel(options);
        $(function () {
            var colModel = [];
            colModel.push({ label: "主键", name: "ID", hidden: true, key: true });
            //当前登录用户是否有看该字段的权限
            if (cloud.auth.fieldIsGranted("Name")) {
                colModel.push({ label: "名称", name: "Name", width: 50, align: "left", });
            }
            if (cloud.auth.fieldIsGranted("Type")) {
                colModel.push({ label: "分类", name: "Type", width: 50, align: "left" });
            }
            if (cloud.auth.fieldIsGranted("Author")) {
                colModel.push({ label: "作者", name: "Author", width: 50, align: "left" });
            }
            if (cloud.auth.fieldIsGranted("Tags")) {
                colModel.push({ label: "标签", name: "Tags", width: 50, align: "left", });
            }
            if (cloud.auth.fieldIsGranted("IsTop")) {
                colModel.push({
                    label: "置顶", name: "IsTop", width: 40, align: "center",
                    //数据格式化
                    formatter: function (value) {
                        return value ? "<i class=\"fa fa-toggle-on\"></i>" : "<i class=\"fa fa-toggle-off\"></i>";
                    }
                });
            }
            if (cloud.auth.fieldIsGranted("IsRed")) {
                colModel.push({
                    label: "推荐", name: "IsRed", width: 40, align: "center",
                    //数据格式化
                    formatter: function (value) {
                        return value ? "<i class=\"fa fa-toggle-on\"></i>" : "<i class=\"fa fa-toggle-off\"></i>";
                    }
                });
            }
            if (cloud.auth.fieldIsGranted("IsHot")) {
                colModel.push({
                    label: "热门", name: "IsHot", width: 40, align: "center",
                    //数据格式化
                    formatter: function (value) {
                        return value ? "<i class=\"fa fa-toggle-on\"></i>" : "<i class=\"fa fa-toggle-off\"></i>";
                    }
                });
            }
            if (cloud.auth.fieldIsGranted("IsMsg")) {
                colModel.push({
                    label: "允许评论", name: "IsMsg", width: 80, align: "center",
                    //数据格式化
                    formatter: function (value) {
                        return value ? "<i class=\"fa fa-toggle-on\"></i>" : "<i class=\"fa fa-toggle-off\"></i>";
                    }
                });
            }
            if (cloud.auth.fieldIsGranted("UpdateDate")) {
                colModel.push({
                    label: "更新时间", name: "UpdateDate", width: 120, align: "center",
                    formatter: "date", formatoptions: { srcformat: 'Y-m-d H:i:s', newformat: 'Y-m-d H:i:s' }
                });
            }
            if (cloud.auth.fieldIsGranted("Sort")) {
                colModel.push({ label: "排序", name: "Sort", width: 50, align: "center" });
            }
            if (cloud.auth.fieldIsGranted("Content")) {
                colModel.push({ label: '内容', name: 'Content', width: 200, align: 'left', sortable: false, });
            }
            colModel.push({
                label: '操作', name: 'ID', width: 250, align: 'center', classes: 'operate', title: '操作', sortable: false,
                /**
                 * 数据格式化
                 * 参数 value 列值 options 选项 row 行数据
                 */
                formatter: function (value, options, row) {
                    //设置授权的列表按钮
                    var html = cloud.auth.grantedButtons({ location: 2, replaceValue: value });
                    return html;
                }
            });

            //显示列表数据
            viewModel.showGridList({
                //获取数据的地址
                url: viewModel.dataQueryUrl,
                //列模型
                colModel: colModel,
                //默认排序字段
                sortname: "Sort",
                //默认排序顺序
                sortorder: "desc"
            });
            //添加授权的初始按钮
            $("#btnInit").append(cloud.auth.grantedButtons({ location: 1 }));
        });
    </script>

}

