#copyrightcontent {
    height: 30px;
    line-height: 29px;
    overflow: hidden;
    position: absolute;
    top: 100%;
    margin-top: -30px;
    width: 100%;
    background-color: #fff;
    border: 1px solid #e6e6e6;
    padding-left: 10px;
    padding-right: 10px;
}

.dashboard-stats {
    float: left;
    width: 20%;
}

.dashboard-stats-item {
    position: relative;
    overflow: hidden;
    color: #fff;
    cursor: pointer;
    height: 105px;
    margin-right: 25px;
    margin-bottom: 10px;
    padding: 20px 20px;
}

    .dashboard-stats-item .m-top-none {
        margin-top: 2px;
    }

    .dashboard-stats-item h2 {
        font-size: 35px;
        font-family: inherit;
        line-height: 1.1;
        font-weight: 500;
    }

    .dashboard-stats-item h5 {
        font-size: 14px;
        font-family: inherit;
        margin-top: 3px;
        line-height: 1.1;
    }


    .dashboard-stats-item .stat-icon {
        position: absolute;
        top: 10px;
        right: 10px;
        font-size: 30px;
        opacity: .3;
    }

.dashboard-stats i.fa.stats-icon {
    width: 50px;
    padding: 20px;
    font-size: 50px;
    text-align: center;
    color: #fff;
    height: 50px;
    border-radius: 10px;
}

.panel-default {
    border: none;
    border-radius: 0px;
    margin-bottom: 0px;
    box-shadow: none;
    -webkit-box-shadow: none;
}

    .panel-default > .panel-heading {
        color: #777;
        background-color: #fff;
        border-color: #e6e6e6;
        padding: 10px 10px;
    }

    .panel-default > .panel-body {
        padding: 10px;
        padding-bottom: 0px;
    }

        .panel-default > .panel-body ul {
            overflow: hidden;
            padding: 0;
            margin: 0px;
            margin-top: -5px;
        }

            .panel-default > .panel-body ul li {
                line-height: 27px;
                list-style-type: none;
                white-space: nowrap;
                text-overflow: ellipsis;
            }

                .panel-default > .panel-body ul li .time {
                    color: #a1a1a1;
                    float: right;
                    padding-right: 5px;
                }
