
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Index_Layout.cshtml";
}

<div class="topPanel">
    <div class="toolbar">
        <div class="btn-group">
            <a class="btn btn-primary" onclick="cloud.common.reload();"><span class="glyphicon glyphicon-refresh"></span></a>
        </div>
        <div id="btnInit" class="btn-group">
        </div>
    </div>
    <div class="search">
        <table>
            <tr>
                <td>
                    <div class="input-group">
                        <input id="txtKey" type="text" class="form-control" placeholder="请输入要查询关键字" style="width: 200px;">
                        <span class="input-group-btn">
                            <button id="btnSearch" type="button" class="btn  btn-primary"><i class="fa fa-search"></i></button>
                        </span>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</div>
<div class="gridPanel">
    <table id="gridList"></table>
    <div id="gridPager"></div>
</div>

@section Scripts{

    <script type="text/javascript">
        var options = {
            //标题
            title: "按钮管理",
            //数据查询地址
            dataQueryUrl: "/Admin/Button/List",
            //数据添加地址，视图与操作是一个地址，只是请求方式及参数不同
            dataAddUrl: "/Admin/Button/Add",
            //数据编辑地址，视图与操作是一个地址，只是请求方式及参数不同
            dataUpdateUrl: "/Admin/Button/Edit",
            //数据查看详情地址
            dataDetailUrl: "/Admin/Button/Detail",
            //数据删除地址
            dataDeleteUrl: "/Admin/Button/Delete",
            //弹窗宽度
            modalWidth: "700px",
            //弹窗高度
            modalHeight: "440px",
        };
        //视图模型
        var viewModel = new ViewModel(options);
        $(function () {
            //显示列表数据
            viewModel.showGridList({
                //获取数据的地址
                url: viewModel.dataQueryUrl,
                //列模型
                colModel: [
                    { label: "主键", name: "ID", hidden: true, key: true },
                    {
                        label: "名称", name: "Name", width: 100, align: "left",
                        /**
                         * 数据格式化
                         * 参数 value 列值 options 选项 row 行数据
                         */
                        formatter: function (value, options, row) {
                            return row.Icon ? "<span class='icon'><i class='fa " + row.Icon + "'></i>" + value + "</span>" : value;
                        }
                    },
                    {
                        label: "编码", name: "Code", width: 50, align: "left"
                    },
                    {
                        label: "绑定js事件", name: "JsEvent", width: 200, align: "left"
                    },
                     {
                         label: "位置", name: "Location", width: 80, align: "left",
                         //数据格式化
                         formatter: function (value) {
                             switch (value) {
                                 case 1:
                                     return "初始";
                                 case 2:
                                     return "列表";
                                 default:
                                     return "未知";
                             }
                         }
                     },
                    {
                        label: "更新时间", name: "UpdateDate", width: 120, align: "center",
                        formatter: "date", formatoptions: { srcformat: 'Y-m-d H:i:s', newformat: 'Y-m-d H:i:s' }
                    },
                    {
                        label: "排序", name: "Sort", width: 50, align: "center"
                    },
                    { label: '备注', name: 'Remark', width: 200, align: 'left', sortable: false, },
                    {
                        label: '操作', name: 'ID', width: 250, align: 'center', classes: 'operate', title: '操作', sortable: false,
                        /**
                         * 数据格式化
                         * 参数 value 列值 options 选项 row 行数据
                         */
                        formatter: function (value, options, row) {
                            //设置授权的列表按钮
                            var html = cloud.auth.grantedButtons({ location: 2, replaceValue: value });
                            return html;
                        }
                    },
                ],
                //默认排序字段
                sortname: "Sort",
                //默认排序顺序
                sortorder: "desc"
            });
            //添加授权的初始按钮
            $("#btnInit").append(cloud.auth.grantedButtons({ location: 1 }));
        });
    </script>

}

