<?xml version="1.0" encoding="utf-8"?>
<!--XCode设置-->
<Setting>
  <!--调试-->
  <Debug>true</Debug>
  <!--输出SQL。是否输出SQL语句，默认启用-->
  <ShowSQL>true</ShowSQL>
  <!--SQL目录。设置SQL输出的单独目录，默认为空，SQL输出到当前日志中。生产环境建议输出到站点外单独的SqlLog目录-->
  <SQLPath>..\Log\SqlLog</SQLPath>
  <!--SQL执行时间。跟踪SQL执行时间，大于该阀值将输出日志，默认500毫秒-->
  <TraceSQLTime>500</TraceSQLTime>
  <!--连接映射。连接名映射#，表名映射@，把实体类中的Test2和Test3连接名映射到Test去-->
  <ConnMaps>Conn2#Conn,Table3@Table</ConnMaps>
  <!--代码调试。是否启用动态代码调试，把动态生成的实体类代码和程序集输出到临时目录，默认不启用-->
  <CodeDebug>false</CodeDebug>
  <!--数据初始化。实体类首次访问数据库时，是否执行数据初始化，默认true执行，导数据时建议关闭-->
  <InitData>true</InitData>
  <!--事务调试。默认关闭-->
  <TransactionDebug>false</TransactionDebug>
  <!--SQLite默认目录。没有设置连接字符串的连接默认创建SQLite连接，数据库放在该目录-->
  <SQLiteDbPath>..\Data</SQLiteDbPath>
  <!--缓存调试-->
  <CacheDebug>false</CacheDebug>
  <!--实体缓存过期。默认60秒-->
  <EntityCacheExpire>60</EntityCacheExpire>
  <!--单对象缓存过期。默认60秒-->
  <SingleCacheExpire>60</SingleCacheExpire>
  <!--反向工程-->
  <Negative>
    <!--是否启用反向工程，默认启用。反向工程可以实现通过实体类反向更新数据库结构-->
    <Enable>true</Enable>
    <!--是否只检查不操作，默认不启用。启用时，仅把更新SQL写入日志-->
    <CheckOnly>false</CheckOnly>
    <!--是否启用不删除字段，默认启用。删除字段的操作过于危险，这里可以通过设为true关闭-->
    <NoDelete>true</NoDelete>
    <!--要排除的链接名和表名，多个用逗号分隔，默认空-->
    <Exclude />
  </Negative>
  <!--Oracle设置-->
  <Oracle>
    <!--是否限制只能访问拥有者的信息，默认true-->
    <UseOwner>true</UseOwner>
    <!--是否忽略大小写，如果不忽略则在表名字段名外面加上双引号，默认true-->
    <IgnoreCase>true</IgnoreCase>
  </Oracle>
</Setting>